<html>
    <head>
        <title> message board</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        {{{body}}}
    </body>
    <footer>
        <a href="help">help</a>
        <a href="contact">contact</a>
    </footer>
</html>