    {{> header }}
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/create_conference">Create Conference</a>
        <a href="/profile">My profile</a>
        <a href="/network">Networking Lounge</a>
    </div>

    <style>
        .new_conference{
            margin: 50px;
        }

        .event_style label{
           margin-left: 40%;
        }

        .event_style input{
            margin: 10px;
        }

        .event_style {
            //margin-left: 120%;
            //float: left;
            margin: 50px
        }

    </style>

        <div class="event_style" >
                <form action="/event/abstracts" method="POST">
                    <label for="abstract_title" style="font-weight: bold; padding-right: 25px;">Title</label>
                    <input type="text" id="abstract_title" name="abstract_title" style="margin-left: 50px;"><br>
                    <label for="abstract_content" style="font-weight: bold; padding-right: 25px; padding-top: 500px">Content</label>
                    <textarea type="text" id="abstract_content" name="abstract_content" rows="4" cols="50" style="margin-left: 25px;"></textarea><br>
                    <label for="abstract_author" style="font-weight: bold; padding-right: 25px;">Author</label>
                    <input type="text" id="abstract_author" name="abstract_author" style="margin-left: 35px;"><br>
                    <label for="abstract_comments" style="font-weight: bold; padding-right: 25px;">Comments</label>
                    <input type="text" id="abstract_comments" name="abstract_comments" style="margin-left: 10px;">
                    <button type="reset" style="margin-left: 40%;">Submit</button>
                    <button type="reset">Cancel</button>
                </form>
        </div>     

    <div class="conf_leftMenu" style="margin-top: -322px;">
                
        <ul id="outer">
                
            <li class="menuConfTitle selected menuConfSelected">
                <a href="/event">Overview</a>
            </li>
            <li class="menuConfTitle">
                <a href="/event/registrations">Registration</a>              
            </li>
            <li class="menuConfTitle">
                <a href="/event/abstracts">Call for Abstracts</a><ul class="inner"></ul>              
            </li>
        </ul>
        



    <script type="text/javascript" src="../static/timezone.js"></script>
    <script type="text/javascript">
        main();
    </script>