    {{> header }}
    <div class="navbar">
        <a href="/">Home</a>
        <!--<div class="create_event_dropdown">
            <button class="event_dropdown">Create Event &#x25BE;</button>
            <div class="create_event_dropdown_list">
                <a href="#create_lecture">Create Lecture</a>
                <a href="#create_meeting">Create Meeting</a>
                <a href="/create_conference">Create Conference</a>
            </div>
        </div>-->
        <a href="/create_conference">Create Conference</a>
        <!--<a href="#room booking">Room booking</a>
        <a href="#administration">Administration</a>-->
        <a href="#profile">My profile</a>
    </div>

    <div class="new_conference">
        <form action="/create_conference" method="POST">
            <!--<label for="category">Category</label>
            <input type="text" id="category" value="Public Category"><br>
            <button>Choose category</button><br>-->
            <label for="event_title">Event title</label>
            <input type="text" id="event_title" placeholder="Enter event title" name="event_title"><br>
            <label for="event_description">Event Description</label>
            <textarea type="text" id="event_description" placeholder="Enter event description" name="event_description" rows="4" cols="50"></textarea><br>
            <label for="zoom_link">Zoom Link</label>
            <input type="text" id="zoom_link" placeholder="Enter Zoom link" name="zoom_link"><br>
            <label for="start_date">Start</label>
            <input type="date" id="start_date" name="start_date">
            <input type="time" id="start_time" name="start_time">
            <label>&#127758;</label><br>
            <label for="end_date">End</label>
            <input type="date" id="end_date" name="end_date">
            <input type="time" id="end_time" name="end_time">
            <label>&#127758;</label><br>
            <!--<label for="timezone">Timezone</label>
            <input type="text" id="timezone" value="don't use for right now"><br>
            <label for="location">Location</label>
            <input type="text" value="venue">
            <input type="room" value="room"><br>
            <label for="protection_mode">Protection Mode</label>
            <button>public</button>
            <button>inheriting</button>
            <button>protected</button><br>-->
            <button type="submit">create event</button>
            
            <button onclick="location.reload();">cancel</button>
            
        </form>
    </div>
    <script type="text/javascript" src="../static/timezone.js"></script>
    <script type="text/javascript">
        main();
    </script>
