    <div class="login_face">
        <img src="/static/Logo.png" alt="Trulli" width="300" height="300">
        <form action="/login" method="POST">
            <input type="email" placeholder="email" name="email"><br>
            <input type="password" placeholder="password" name="password"><br>
            <button type="submit">Login</button><br>
        </form>
        <a href="forgot_password">forgot password</a><br>
        <a href="/register">create account</a>
    </div>
