    {{> header }}
    <div class="navbar">
        <a href="../index.html">Home</a>
        <a href="#create event">Create event &#x25BE;</a>
        <a href="#room booking">Room booking</a>
        <a href="#administration">Administration</a>
        <a href="profile.html">My profile</a>
    </div>
    <div class="event_navbar">
        <a style="color:rgb(241, 154, 23); font-size: larger; margin-right: 55%;">All events</a>
        <div class="search">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit">&#128269;</button>
        </div>
        <div class="create_event_dropdown">
            <button class="event_dropdown">Create Event &#x25BE;</button>
            <div class="create_event_dropdown_list">
                <a href="#create_lecture">Create Lecture</a>
                <a href="#create_meeting">Create Meeting</a>
                <a href="create_conference.html">Create Conference</a>
            </div>
        </div>
        <a href="navigate">	&#129517; navigate</a>
        <a href="calender">&#128197;</a>
        <a href="eye">&#128065; &#x25BE;</a>
        <a hred="draw">&#9998;</a>
    </div>
    <div class="dashboard">
        <p>Dashboard</p>
    </div>
    <div class="profile_body" style="flex-direction: row;">
        <img src="/static/baseProfilePic.png"  width="100" height="100" class="profile">
        <p class="profile">profile name</p>
    </div>
    <script type="text/javascript" src="../static/timezone.js"></script>
    <script type="text/javascript">
        main();
    </script>