{{#if error}}
<div style="background: red; color: white;">
    {{error}}
</div>
{{/if}}

<h1>register</h1>
<a href="/">home</a><a href='/login'>login</a>

<form action="/register" method="POST">
    <input type="test" placeholder="firstName" name="firstName" />
    <input type="test" placeholder="lastName" name="lastName" />
    <input type="test" placeholder="username" name="username" />
    <input type="email" placeholder="email" name="email" />
    <input type="password" placeholder="password" name="password" />
    <input type="password" placeholder="password2" name="password2" />
    <button type="submit">register</button>
</form>